<h1 class="text-center py-3">Vista perfil usuario.</h1>


{{#if usuario}}
    <h2>Nombre: {{usuario.nombre}}</h2>
    <h2>RUT: {{usuario.rut}}</h2>
    <h2>Email: {{usuario.email}}</h2>
{{else}}
    <h2>No se ha podido mostrar la información del su perfil.</h2>
{{/if}}
