<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center text-dark mt-5">Registrate!</h2>
            <div class="card my-5">

                <form class="card-body cardbody-color p-lg-5" id="formRegistro">

                    <div class="text-center">
                        <img
                            src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png"
                            class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                            width="200px"
                            alt="profile"
                        />
                    </div>
                    <div class="mb-3">
                        <input
                            type="text"
                            class="form-control"
                            id="registroNombre"
                            name="nombre"
                            placeholder="Nombre"
                            required
                        />
                    </div>
                    <div class="mb-3">
                        <input
                            type="text"
                            class="form-control"
                            id="registroRut"
                            name="rut"
                            placeholder="1.111.111-1"
                            required
                        />
                    </div>

                    <div class="mb-3">
                        <input
                            type="text"
                            class="form-control"
                            id="registroEmail"
                            name="email"
                            aria-describedby="emailHelp"
                            placeholder="Email"
                            required
                        />
                    </div>
                    <div class="mb-3">
                        <input
                            type="password"
                            class="form-control"
                            id="registroPassword"
                            name="password"
                            placeholder="password"
                            required
                        />
                    </div>
                    <div class="mb-3">
                        <input
                            type="password"
                            class="form-control"
                            id="registroReplyPassword"
                            name="registroReplyPassword"
                            placeholder="reply password"
                            required
                        />
                    </div>
                    <div class="text-center"><button
                            type="submit"
                            class="btn btn-color px-5 mb-5 w-100"
                        >Registro</button></div>
                    <div class="text-center">
                        <a href="/" class="fw-bold">
                            Volver.</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<style>
    .btn-color{ background-color: #0e1c36; color: #fff; } .profile-image-pic{
    height: 200px; width: 200px; object-fit: cover; } .cardbody-color{
    background-color: #ebf2fa; } a{ text-decoration: none; }
</style>

<script>

    const formRegistro = document.getElementById("formRegistro");

    formRegistro.addEventListener("submit", (event)=> { 
        event.preventDefault();
        if(registroReplyPassword.value != registroPassword.value){ 
            return alert("Elpassword no coincide.");
        } const myHeaders = new Headers();
        
        myHeaders.append("Content-Type", "application/json"); 
        const raw = JSON.stringify({
            nombre: registroNombre.value, 
            rut: registroRut.value,
            email: registroEmail.value,
            password: registroPassword.value
        }); 
        const requestOptions = { 
            method: 'POST', 
            headers: myHeaders, 
            body: raw, 
            redirect:'follow' 
        }; 
        fetch("/api/v1/usuarios", requestOptions)
        .then(response =>response.json())
        .then(result => { 
            if(result.code == 201){
                alert(result.message);
                location.href = "/login";
            }else{
                alert(result.message);
            } 
        }) .catch(error => console.log('error', error)); 
    })
</script>